/*
=============== 
Fonts
===============
*/

@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700|Grand+Hotel');

/*
=============== 
Variables
===============
*/

:root {
  --clr-primary: #678e3e;
  --clr-primary-light: #beed8c;
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --ff-primary: 'Catamaran', sans-serif;
  --ff-secondary: 'Grand Hotel', cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}

/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h3 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*
=============== 
More global styles
===============
*/

.btn {
  color: var(--clr-white);
  text-transform: uppercase;
  background: var(--clr-primary);
  padding: 0.5rem 1rem;
  transition: var(--transition);
}

.btn:hover {
  background: var(--clr-primary-light);
}

.center {
  width: 80vw;
  max-width: 1178px;
  margin: 0 auto;
}

/*
=============== 
header
===============
*/

.hamburguer-menu {
  font-size: 3rem;
  position: fixed;
  top: 5%;
  left: 5%;
  color: var(--clr-primary);
  cursor: pointer;
  transition: var(--transition);
  z-index: 2;
}

.hamburguer-menu:hover {
  transform: scale(1.2);
}

.header {
  background: #3b3d38;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.header-info h2 {
  color: var(--clr-primary);
  font-family: var(--ff-secondary);
}

.header-info h1 {
  color: var(--clr-white);
  text-transform: uppercase;
}

.btn-header {
  outline: 2px solid var(--clr-primary);
  outline-offset: 3px;
  font-weight: 700;
  transition: var(--transition);
  animation: bottom-to-top 1.2s ease-in-out;
}

.btn-header:hover {
  background: var(--clr-primary-light);
  outline-color: var(--clr-primary-light);
}

@keyframes bottom-to-top {
  from {
    transform: translateY(100px);
    opacity: 0.5;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 450px) {
  .header-info {
    gap: 0;
  }
  .header-info h2 {
    font-size: 1.5rem;
    margin: 0.3rem;
  }
  .header-info h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
      url(../images/main-bcg.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

.separator {
  width: 100%;
  height: 8px;
  background: linear-gradient(to left, #678e3e, #bdbb42, #678e3e);
}

/*
=============== 
Skills
===============
*/

.skills {
  background: var(--clr-grey-10);
  display: grid;
}

.skill {
  display: grid;
  justify-items: center;
  padding: 3rem 0.2rem;
  transition: var(--transition);
}

.skill:hover {
  box-shadow: 0 2px var(--clr-primary);
}

.skill:hover span {
  transform: translateY(-10px);
}

.skill span {
  font-size: 2.5rem;
  color: var(--clr-primary);
  padding-bottom: 1rem;
  transition: var(--transition);
}

.skill p {
  width: 18rem;
  text-align: center;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 630px) {
  .skills {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1300px) {
  .skills {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*
=============== 
about
===============
*/

.about {
  padding: 6rem 0;
  display: grid;
  justify-content: center;
}

.about-img-container {
  margin-bottom: 3rem;
  border: 5px solid var(--clr-primary);
  overflow: hidden;
}

.about-img-container img {
  transition: var(--transition);
}

.about-img-container img:hover {
  transform: scale(1.2);
  opacity: 0.7;
}

.about-banner h3 {
  font-family: var(--ff-secondary);
  font-size: 1.5rem;
  color: var(--clr-primary);
}

.about-banner h2 {
  margin-bottom: 1.5rem;
}

.about-banner p {
  width: 20rem;
  color: var(--clr-grey-5);
}

.about-btn {
  padding: 0.5rem 1rem;
}

@media screen and (min-width: 1178px) {
  .about {
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
  }

  .about-img-container {
    margin: 0;
  }

  .about-img-container img {
    height: 100%;
  }
}

/*
=============== 
about
===============
*/

.section-products {
  background: var(--clr-grey-10);
  padding: 6rem 0;
}

.products-banner h3 {
  color: var(--clr-primary);
  font-family: var(--ff-secondary);
  font-size: 1.5rem;
}

.products-banner p {
  color: var(--clr-grey-5);
  max-width: 25rem;
}

.products-banner a {
  display: inline-block;
  margin-bottom: 4rem;
}

.products-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.products-container img {
  border-radius: var(--radius);
  margin-bottom: 1rem;
}

.products-container .price {
  color: var(--clr-primary);
}

@media screen and (min-width: 778px) {
  .products-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 1178px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* responsive with auto-fill */
/* (1178 - 64px(4rem)) / 3 */

/* .products-container {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 2rem;
  justify-content: center;
} */

/*
=============== 
about
===============
*/

.section-services {
  padding: 4rem 0;
}

.services-banner {
  margin-bottom: 2rem;
}

.services-banner {
  text-align: center;
}

.services-banner h3 {
  color: var(--clr-primary);
  font-family: var(--ff-secondary);
  font-size: 1.5rem;
}

.card {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  transition: var(--transition);
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.container-service-img {
  position: relative;
}

.container-service-img img {
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}

.service-icon {
  position: absolute;
  color: var(--clr-primary);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 2rem;
  border: 1rem solid transparent;
  border-radius: 50%;
  background: var(--clr-primary-light);
  border: 5px solid var(--clr-grey-10);
  padding: 0.5rem 1rem;
}

.service-card-info {
  padding: 3rem 0;
  background: var(--clr-grey-10);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  text-align: center;
}

.service-card-info p {
  max-width: 25rem;
  padding: 0 1rem;
  margin: 0 auto;
  color: var(--clr-grey-5);
  margin-bottom: 2rem;
}

.service-card-info .btn {
  border-radius: var(--radius);
  text-transform: capitalize;
  font-size: 0.875rem;
}

.service-cards {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
}

@media screen and (min-width: 778px) {
  .service-cards {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 1178px) {
  .service-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
