/*
=============== 
Fonts
===============
*/

@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700|Grand+Hotel");

/*
=============== 
Variables
===============
*/

:root {
  --clr-primary: #678e3e;
  --clr-primary-light: #97c763;
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --ff-primary: "Catamaran", sans-serif;
  --ff-secondary: "Grand Hotel", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}

/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h3 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*
=============== 
More global styles
===============
*/

.btn {
  color: var(--clr-white);
  text-transform: uppercase;
  background: var(--clr-primary);
  padding: 0.7rem 1.5rem;
}

/*
=============== 
header
===============
*/

.hamburguer-menu {
  font-size: 3rem;
  position: fixed;
  top: 5%;
  left: 5%;
  color: var(--clr-primary);
  cursor: pointer;
  transition: var(--transition);
}

.hamburguer-menu:hover {
  transform: scale(1.2);
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url(../images/main-bcg.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}

.header-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.header-info h2 {
  color: var(--clr-primary);
  font-family: var(--ff-secondary);
}

.header-info h1 {
  color: var(--clr-white);
  text-transform: uppercase;
}

.btn-header {
  outline: 2px solid var(--clr-primary);
  outline-offset: 3px;
  font-weight: 700;
  transition: var(--transition);
  animation: bottom-to-top 1.2s ease-in-out;
}

.btn-header:hover {
  background: var(--clr-primary-light);
  outline-color: var(--clr-primary-light);
}

@keyframes bottom-to-top {
  from {
    transform: translateY(100px);
    opacity: 0.5;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 450px) {
  .header-info {
    gap: 0;
  }
  .header-info h2 {
    font-size: 1.5rem;
    margin: 0.3rem;
  }
  .header-info h1 {
    font-size: 2rem;
  }
}

.separator {
  width: 100%;
  height: 8px;
  background: linear-gradient(to left, #678e3e, #bdbb42, #678e3e);
}

/*
=============== 
Skills
===============
*/

.skills {
  background: var(--clr-grey-10);
  display: grid;
  padding: 3rem 0;
  gap: 3rem;
}

.skill {
  display: grid;
  justify-content: center;
  justify-items: center;
  border: 2px solid transparent;
}

.skill:hover {
  border-bottom: 2px solid var(--clr-primary);
}

.skill:hover span {
  transform: translateY(-10px);
}

.skill span {
  font-size: 2.5rem;
  color: var(--clr-primary);
  padding-bottom: 1rem;
  transition: var(--transition);
}

.skill p {
  width: 18rem;
  text-align: center;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 600px) {
  .skills {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1300px) {
  .skills {
    grid-template-columns: repeat(4, 1fr);
  }
}
